In [5]:
import pandas as pd 
import yfinance as yf
import os

data = yf.download("SPY", start="2015-01-01", end="2023-12-31", interval="1d")

C:\Users\qevan\AppData\Local\Temp\ipykernel_24860\3299114000.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("SPY", start="2015-01-01", end="2023-12-31", interval="1d")
[*********************100%***********************]  1 of 1 completed

In [ ]:
# Downloading the data 
os.makedirs("data", exist_ok=True)
data.to_csv("data/spy_data.csv")

Cleaning and preprocessing

In [32]:
df = pd.read_csv("data/spy_data.csv")
df= df.drop([0,1])
df = df.rename(columns={"Price": "Date"})
df["Date"] = pd.to_datetime(df["Date"])
df.head(10)

,Date,Close,High,Low,Open,Volume
2,2015-01-02,171.0937042236328,172.30135631201117,170.05263360150084,171.88492806315838,121465900
3,2015-01-05,168.00376892089844,170.21083296775836,167.69561616562544,170.0442642543237,169632600
4,2015-01-06,166.42140197753906,168.8366808900063,165.62185409757927,168.31197719664573,209151400
5,2015-01-07,168.49520874023438,168.83668298008934,167.30422995861,167.7539669096419,125346700
6,2015-01-08,171.48512268066406,171.70167347171844,169.89437666137715,169.91102463885844,147217800
7,2015-01-09,170.1109161376953,171.91821296284297,169.49459783958483,171.90155227684542,158567300
8,2015-01-12,168.7783660888672,170.40244644449848,168.17038439700082,170.2442016748005,144396100
9,2015-01-13,168.30364990234375,171.1353570343657,166.99605904404427,170.0026716398805,214553300
10,2015-01-14,167.2875518798828,167.48744200866474,165.380316146066,166.27978995463153,192991100
11,2015-01-15,165.75509643554688,168.2453291207079,165.63849703933582,167.9288523072099,176613900

In [ ]:
df.isna().sum() # no lack

Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

Feature engineering

In [ ]:
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day_of_year
df["Day_of_week"] = df["Date"].dt.day_of_week

In [40]:
df

,Date,Close,High,Low,Open,Volume,Year,Month,Day,Day_of_week
2,2015-01-02,171.0937042236328,172.30135631201117,170.05263360150084,171.88492806315838,121465900,2015,1,2,4
3,2015-01-05,168.00376892089844,170.21083296775836,167.69561616562544,170.0442642543237,169632600,2015,1,5,0
4,2015-01-06,166.42140197753906,168.8366808900063,165.62185409757927,168.31197719664573,209151400,2015,1,6,1
5,2015-01-07,168.49520874023438,168.83668298008934,167.30422995861,167.7539669096419,125346700,2015,1,7,2
6,2015-01-08,171.48512268066406,171.70167347171844,169.89437666137715,169.91102463885844,147217800,2015,1,8,3
...,...,...,...,...,...,...,...,...,...,...
2261,2023-12-22,463.589111328125,465.28237484775894,461.68054954164,463.7946423178867,67160400,2023,12,356,4
2262,2023-12-26,465.5466613769531,466.4568999785943,463.92191803061615,464.00023546887513,55387000,2023,12,360,1
2263,2023-12-27,466.3883972167969,466.53520507295934,464.80281263154177,465.3411180605876,68000300,2023,12,361,2
2264,2023-12-28,466.5645446777344,467.40626292633686,466.14368555343316,466.7505112432347,77158100,2023,12,362,3
2265,2023-12-29,465.2138977050781,466.8973642343975,463.2465827268645,466.36882605664505,122283100,2023,12,363,4